#mybody{
    display: flex;
}
#titolo{
    font-size: 30px;
    text-align: center;
    border-bottom:black solid 1px ;
}

#myform{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

#myform button{
    background-color: white;
    border: solid black 1px;
    border-radius: 3px;
    font-size: 18px;
    transition: 0.5s;
}

#myform button:hover{
    font-size: 20px;
}

#alfa_cont{
    margin: 10px;
    display: flex;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;

}

.myin{
    padding: 5px;
    margin: 5px;
}

#serverLog{
    padding: 3px;
    margin: 10px;
    width: 50%;
    text-align: center;
}